<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<context:component-scan base-package="com.mkyong.rest" />
	<context:component-scan base-package="com.paul.demo.gossip" />

	<!-- DAO declarations -->
	<bean id="counter" class="com.paul.rest.counter.AtomicIntegerCounter" />


	<bean id="countCollatingService" class="com.paul.rest.tree.primitive.SortedPrimitiveTree" />

	<bean id="otherServers" class="com.paul.demo.server.NonPersistantServerDao" />

	<bean id="loadBalancerInterface" class="com.paul.demo.balancer.api.DefaultLoadBalanceInterface" />

	<bean id="countingServiceInterface" class="com.paul.demo.counting.api.DefaultCountingServerInterface" />
</beans>